button{
    margin: 10px 0;
    border: none;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    /* background-color: greenyellow; */
    background-color:  #FFD7D7;
    /* color: ; */
}

button[type=button]:hover{
    /* Utiliser un sélecteur plus spécifique pour limiter les styles */
    transition: ease  250ms ;
    box-shadow: inset 0 0 5px black
}

button:active{
    box-shadow: inset 0 0 10px black;

}