.backdrop{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.703);
    top: 0;
    left: 0;
    width: 100%;
    height: 100% ;
    /* z-index:20 */
}

.modal{
    position:fixed;
    top: 40vh;
    left: 10%;
    width: 80%;

/* z-index: 10; */
overflow: hidden;
border-radius: 15px;
box-shadow: 6px 5px 8px 2px black;

}

.header-error_modal {
    background-color: yellow;
    padding: 1rem
}

header h2{
    color: red;
    font-size: 3rem;
}

.content{
    font-size: 2rem;
    padding: 1rem;
    
}

footer{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

/* @media(min-width:600px){
    .modal{
width: 55rem;
left: calc(50%-27.5rem);
    }
} */



/* .backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.703);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    position: relative;
    width: 80%;
    max-width: 55rem;
    z-index: 1000;
    overflow: hidden;
  }
  
  header h2 {
    background-color: yellow;
    padding: 2rem;
    margin: 0;
  }
  
  header h2 {
    color: red;
  }
  
  .content {
    font-size: 2rem;
    padding: 1rem;
  }
  
  footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
  
  @media (min-width: 600px) {
    .modal {
      width: 55rem;
      left: calc(50% - 27.5rem);
    }
  } */