 img{
    height: 10rem;
    margin: 2rem;
}

.post-card button {
    /* background-color: #ff0000; */
    /* color: white; */
}


.updateButton{
    background-color: yellow ;

}

.like{
    cursor: pointer
}

.post-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
/* j'ai pas reussi yellow voir en detaille 29.03  */